@import "tailwindcss";

/* Theme */
@theme {
    --color-black: #000;
    --color-white: #fff;

    --color-sky-800: oklch(0.443 0.11 240.79);
}

/* Dark Theme */
@custom-variant dark (&:where(.dark, .dark *));