@import "tailwindcss";

/* Theme */
@theme {
    --color-black: #000;
    --color-white: #fff;

    --color-sky-300: oklch(0.828 0.111 230.318);
    --color-sky-800: oklch(0.443 0.11 240.79);
    --color-neutral-300: oklch(0.87 0 0);
    --color-emerald-300: oklch(0.845 0.143 164.978);
}

/* Dark Theme */
@custom-variant dark (&:where(.dark, .dark *));

@custom-variant grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}