body {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
.navbar-brand {
    font-family: 'Montserrat', sans-serif;
}

.hero-section {
    background-image: url('../../assets/img/freepik__expand__47977.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    padding-top: 80px;
}